.navbar {
  background-image: var(--gradient);
}

.nav-brand {
  display: flex;
  gap: 8px;
  font-weight: bold;
  align-items: center;
  color: var(--txt-color-2);
  text-decoration: none;
}

.nav-item {
  color: var(--txt-color-2);
  display: flex;
  gap: 5px;
  font-size: 16px;
  margin: 0 5px;
  align-items: center;
  text-decoration: none;
}

.toggle-btn {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  display: flex;
  gap: 12px;
  margin: 0 5px;
  color: var(--txt-color-1) !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-task {
  display: flex;
  width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.no-task > img {
  width: 250px;
  height: auto;
}

.filter-task {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
  z-index: 1;
}

.filter-task > .dp-ctg {
  flex: 1;
}

.filter-task > .flt-search {
  flex: 4;
}

.search-bar-container {
  flex: 1;
  padding: 10px 20px 10px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-bar-container > input {
  border: none;
  border-bottom: 1px solid var(--txt-color-1);
  background-color: transparent;
  outline: none;
  width: 100%;
  font-size: 15px;
  padding: 5px;
}

.search-bar-container > input::placeholder {
  color: var(--placeholder-color);
}

.tasks {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
  overflow-y: auto;
}

.task {
  width: 100%;
  display: flex;
  padding: 15px 20px;
  border-radius: 15px;
  background-color: var(--bg-color-1);
  gap: 15px;
}

.task > .checkbox {
  align-self: center;
  z-index: 1;
}

.task > .t-titles {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  flex: 1;
}

.t-titles > .main-title {
  min-width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.main-title > h5 {
  flex: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
}

.main-title > .category {
  flex: 1;
  display: flex;
  gap: 5px;
  align-items: center;
  color: #ff1493;
}

.t-titles > p {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.edit-icon {
  z-index: 1;
}

.delete-icon {
  z-index: 1;
  color: #ff1493;
}

.edit-icon:hover,
.delete-icon:hover {
  cursor: pointer;
}

.footer {
  padding: 50px 0;
  text-align: center;
  background-color: var(--bg-color-1);
  opacity: 80%;
}
