.td-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.task-container {
  width: 720px;
  min-height: 100%;
  border-radius: 20px;
  padding: 70px 10px 10px 10px;
}

.add-button {
  background-image: var(--gradient);
  padding: 20px;
  border-radius: 100%;
  position: fixed;
  bottom: 20px;
  right: calc((100vw - 720px) / 2 + 15px);
  font-weight: bold;
  box-shadow: 0 0 20px #b9b9b9;
  font-size: 20px;
  z-index: 1;
}

@media (max-width: 767px) {
  .task-container {
    width: 100%;
    padding: 70px 0 0 0;
  }

  .add-button {
    right: 40px;
  }
}

@media (max-width: 599px) {
  .add-button {
    right: 15px;
  }
}
